.project-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 44px;
  align-self: center;
  justify-content: center;
}

.project-card {
  width: 300px;
  min-height: 350px;
  background: #fff;
  box-shadow: 10px 40px 50px rgba(184, 187, 198, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.project-card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.3s;
}

.image-container {
  width: 100%;
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.project-external-link {
  border-radius: inherit;
}

.project-image {
  display: block;
  border-radius: inherit;
  max-height: 100%;
  height: 250px;
  max-width: 100%;
  object-fit: cover;
}

.project-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  padding: 20px;
  height: 200px;
}

.project-heading {
  margin: 0;
  color: #000;
}

.project-details {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
}

@media only screen and (max-width: 640px) {
  .project-cards-container {
    padding: 20px;
  }

  .project-card {
    width: 290px;
    min-height: 500px;
  }
}
