.go-home-btn {
  position: fixed;
  bottom: 28px;
  right: 28px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border-style: none;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

.go-home-btn:hover {
  cursor: pointer;
  box-shadow: 1px 10px 32px rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease-in-out;
}

.white-bkg {
  background: #fff;
}

.gradient-bkg {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-icon {
  width: 40px;
}
